*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: hsl(225, 100%, 94%);
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    text-align: center;
    background-color: hsl(225, 100%, 98%);
    width: 20rem;
    margin: 25% auto;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
p{
    text-transform: capitalize;
    line-height: 1rem;
}
h2{
    text-align: center;
    text-transform: capitalize;
}
.order img{
    width: 100%;
    height: auto;
    border-radius: 15px 15px 0px 0px;
}
.order{
    border-radius: 15px;
}
.content{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}
.plan_container{
    background-color: aqua;
    max-width: 100%;
    padding: 0.8rem;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plan{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.plan img{
    width: 20%;
}
.plan-details{
    display: flex;
    flex-direction: column;
}
button{
    background-color: hsl(245, 75%, 52%);
    color: azure;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-around;
}